__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.build/
dist/
build/
*.log
.cache/
.coverage
.pytest_cache/
.mypy_cache/
ruff_cache/
.venv/
.wheel/
.env/
.vscode/
.idea/
*.h5
*.hdf5
*.tsv
*.csv
*.tmp
*.bak
